@using (Html.BeginForm("Search", "Home", FormMethod.Get))
{
    <div style="width:100%;background-color:rgba(255, 255, 255, 0.5);border-radius:25px;">
        <div style="width:300px; margin:0 auto; padding-bottom:10px;">
            <fieldset>
                <legend>Search</legend>
                @Html.Label("First Name")
                @Html.TextBox("fname")

                <br />
                @Html.Label("Last Name")
                @Html.TextBox("lname")
                <br />
                @Html.Label("Year")
                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    listItems.Add(new SelectListItem { Text = "2014-2015", Value = "0", Selected = true });
                    listItems.Add(new SelectListItem { Text = "2013-2014", Value = "1", });
                    listItems.Add(new SelectListItem { Text = "2012-2013", Value = "2" });
                    listItems.Add(new SelectListItem { Text = "2011-2012", Value = "3" });
                    listItems.Add(new SelectListItem { Text = "2010-2011", Value = "4" });
                    listItems.Add(new SelectListItem { Text = "2009-2010", Value = "5" });
                    listItems.Add(new SelectListItem { Text = "2008-2009", Value = "6" });
                    listItems.Add(new SelectListItem { Text = "2007-2008", Value = "7" });
                    listItems.Add(new SelectListItem { Text = "2006-2007", Value = "8" });
                    listItems.Add(new SelectListItem { Text = "2005-2006", Value = "9" });
                    listItems.Add(new SelectListItem { Text = "2004-2005", Value = "10" });
                    listItems.Add(new SelectListItem { Text = "2003-2004", Value = "11" });
                    listItems.Add(new SelectListItem { Text = "2002-2003", Value = "12" });

                }
                @Html.DropDownList("year", listItems)
                <br />
                @Html.Label("Campus")
                @{
                    List<SelectListItem> campusItems = new List<SelectListItem>();
                    campusItems.Add(new SelectListItem { Text = "All", Value = "0", Selected = true });
                    campusItems.Add(new SelectListItem { Text = "Ann Arbor", Value = "1", });
                    campusItems.Add(new SelectListItem { Text = "Flint", Value = "2" });
                    campusItems.Add(new SelectListItem { Text = "Dearborn", Value = "3" });

                }
                @Html.DropDownList("campus", campusItems)

                <br />
                <input type="submit" value="Search" class="formbutton" />
            </fieldset>
        </div>
    </div><br />
                    }

@if (Model != null)
{
    <div style="width:100%;background-color:rgba(157, 157, 157,0.90);border-radius:25px;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name </th>
                    <th>Title</th>
                    <th>Department</th>
                    <th>FTR</th>
                    <th>GF</th>
                    <th>Year</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td> @item.Name</td>
                        <td>@item.Title</td>
                        <td>@item.Department</td>
                        <td>@item.FTR</td>
                        <td>@item.GF</td>
                        <td>@item.Year</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}
else
{
    <div style="width:100%;background-color:rgba(255, 255, 255, 0.5);border-radius:25px;">
        <p>No results found</p>
    </div>
}
