<div ng-app="defaultapp">
    <div ng-controller="HomeController">

        @using (Html.BeginForm("Search", "Home", FormMethod.Get))
        {
            <div style="width:100%;background-color:rgba(255, 255, 255, 0.85);border-radius:25px;">
                <div style="width:300px;margin:0 auto; padding-bottom:10px; padding-top:10px;">

                    <form class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" id="fname" placeholder="First Name" name="fname">
                            {{Message}}
                            <input type="text" class="form-control" id="lname" placeholder="Last Name" name="lname">
                            <label for="year">Select Year</label>
                            <select class="form-control" id="year" name="year">
                                <option value='0'>2014-2015</option>
                                <option value='1'>2013-2014</option>
                                <option value='2'>2012-2013</option>
                                <option value='3'>2011-2012</option>
                                <option value='4'>2010-2011</option>
                                <option value='5'>2009-2010</option>
                                <option value='6'>2008-2009</option>
                                <option value='7'>2007-2008</option>
                                <option value='8'>2006-2007</option>
                                <option value='9'>2005-2006</option>
                                <option value='10'>2004-2005</option>
                                <option value='11'>2003-2004</option>
                                <option value='12'>2002-2003</option>
                            </select>
                            <label for="campus">Select Campus</label>
                            <select class="form-control" id="campus" name="campus">
                                <option value="0">All</option>
                                <option value="1">Ann Arbor</option>
                                <option value="2">Flint</option>
                                <option value="3">Dearborn</option>
                            </select>
                            <input type="submit" value="Search" class="formbutton" />
                        </div>
                    </form>
                </div>
            </div><br />
        }

        @if (Model != null)
        {
            <div style="width:100%;background-color:rgba(157, 157, 157,0.90);border-radius:25px;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name </th>
                            <th>Title</th>
                            <th>Department</th>
                            <th>FTR</th>
                            <th>GF</th>
                            <th>Year</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                {
                            <tr>
                                <td> @item.Name</td>
                                <td>@item.Title</td>
                                <td>@item.Department</td>
                                <td>@item.FTR</td>
                                <td>@item.GF</td>
                                <td>@item.Year</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div style="width:100%;background-color:rgba(255, 255, 255, 0.5);border-radius:25px;">
                <p>No results found</p>
            </div>
        }
    </div>
</div>